body {
    font-family: 'Questrial', sans-serif;

}
.window {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    z-index: 1;
    padding-bottom: 8em;
}
.won {
    text-align: center;
    font-size: 3rem;
}
.code {
    min-width: 100px;
    background-color: rgb(113, 160, 240);
    font-family: monospace;
    text-align: left;
    font-size: 0;
    border-radius: 1rem;
    padding: 1.5rem 4rem;
    position: relative;
}
.code > div {
    white-space: nowrap;
}
.controls {
    min-height: 3em;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 1em;
}
.keyShortcut {
    display: inline-block;
    padding: 1em;
    text-align: center;
    width: 5em;
}

.correct, .error {
    margin: 4px;
    border: solid 1px #555;
    color: #555;
    border-radius: 4px;
    padding: 4px;
    display: inline-block;
    line-height: 1em;
    background-color: #eee;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}



/* component */
.component {font-size: 4rem;}

/* component-ok */
.js-showAnswer .component-ok {
    border-bottom: solid 3px #0F0;
    position: relative;
}

/* component-error */
.component-error .component-missing {
    display: inline-block;
    width: 0;
}
.component-error .component-required {
    transition: width 1s ease;
}
.js-showAnswer .component-error {
    color: red;
    border-bottom: solid 3px red;
    text-align: center;
}
.js-showAnswer .component-error .component-missing {
    width: auto;
}

/* component explanation */
.component-explanation {
    display: none;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: -2rem;
    line-height: 1.5em;
    right: 0;
}

 /* component explanation OK */
 .js-showAnswer .component-ok .component-explanation {
     font-size: 10px;
     color: #0F0;
}

/* component explanation ERROR */
.js-showAnswer .component-error .component-explanation {display: block;}
.js-showAnswer .component-error .component-explanation:before { content: "invalid "; }


/* flash green / red */

.background {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    border: solid 10px transparent;
}

@keyframes js-incorrect {
    0% {
        border-color: #F55;
        opacity:1;
    }
    100% {
        border-color: transparent;
    }
}
.js-incorrect {
    animation-name: js-incorrect;
    animation-duration: 1900ms;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

/* answer right */
@keyframes js-correct {
    0% {
        border-color: #AFA;
        opacity:1;
    }
    100% {
        border-color: transparent;
    }
}
.js-correct {
    animation-name: js-correct;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}


