body {
    font-family: 'Questrial', sans-serif;

}
.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    z-index: 1;
    padding-bottom: 2rem;
    margin-top: 2rem;
}
.level input {width: 30em; margin-left: 1em;}
.history {
    opacity: .5;
}
.code {
    min-width: 100px;
    background-color: rgba(113, 160, 240, .9);
    font-family: monospace;
    text-align: left;
    font-size: 0;
    border-radius: 1rem;
    padding: 1.5rem 4rem;
    position: relative;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.code .component-tagName        { color: #c13c3c; }
.code .component-attributeName  { color: #d46e05; }
.code .component-attributeValue { color: #1a8a1a; }
.code .component-content        { color: #f3f3f3; }
.code .component-attributeEquals, .code .component-openAngle, .code .component-closeAngle, .code .component-forwardSlash
                                { color: #696868; }
.code > div {
    white-space: nowrap;
}
.result {
    height: 0px;
    font-size: 5rem;
    margin-top: -7rem;
    margin-bottom: 7rem;
}
.controls {
    min-height: 3em;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 1em;
}
.keyShortcut {
    display: inline-block;
    padding: 1em;
    text-align: center;
    width: 6em;
}

.correct, .error {
    margin: 4px;
    border: solid 1px #555;
    color: #555;
    border-radius: 4px;
    padding: 4px;
    display: inline-block;
    line-height: 1em;
    background-color: #eee;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}



/* component */
.component {font-size: 3.5rem;}

/* component-ok */
.js-showAnswer .component-ok,
.js-showAnswer .component-error.hasSubError {
    border-bottom: solid 3px #0F0;
    position: relative;
    /*color: inherit;*/
}

/* component-error */

.component-error .component-missing {
    display: inline-block;
    width: 0;
    color: transparent;
}
.component-error .component-required {
    transition: width 1s ease;
}
.js-showAnswer .component-error,
.js-showAnswer .component-error.hasSubError .component-missing {
    color: red !important;
    border-bottom: solid 3px red;
    text-align: center;
}
.js-showAnswer .component-error.hasSubError .component-missing {
    color: rgba(255,0,0,.5);
    border-bottom: dotted 3px red;
}
.component-error.hasSubError .component-missing {
    transition: color 300ms, width 300ms;
}

.js-showAnswer .component-error .component-missing {
    width: auto;
}
.js-showAnswer .component-error .component-explanation {
    color: red;
    text-shadow: none;
}

/* component explanation */
.component-explanation {
    display: none;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: -2rem;
    line-height: 1.5em;
    right: 0;
}

 /* component explanation OK */
 .js-showAnswer .component-ok .component-explanation {
     font-size: 10px;
     color: #0F0;
}

/* component explanation ERROR */
.js-showAnswer .component-error .component-explanation {display: block;}
.js-showAnswer .component-error .component-explanation:before { content: "invalid "; }


/* flash green / red */

.background {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    border: solid 10px transparent;
}

@keyframes js-incorrect {
    0% {
        border-color: #F55;
        opacity:1;
    }
    100% {
        border-color: transparent;
    }
}
.js-incorrect {
    animation-name: js-incorrect;
    animation-duration: 1900ms;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

/* answer right */
@keyframes js-correct {
    0% {
        border-color: #AFA;
        opacity:1;
    }
    100% {
        border-color: transparent;
    }
}
.js-correct {
    animation-name: js-correct;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}


